<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlpJyuRkZOmzgjQjhyxspEOPLV5BikU7U</string>
	<key>GCM_SENDER_ID</key>
	<string>904716728091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ossipjosh.splitBasket</string>
	<key>PROJECT_ID</key>
	<string>splitbasketapp</string>
	<key>STORAGE_BUCKET</key>
	<string>splitbasketapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904716728091:ios:c7f829d49eb37b9e6845be</string>
	<key>DATABASE_URL</key>
	<string>https://splitbasketapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>
